// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// Import global settings (color, size, etc.)

@import "application.scss";

$meter-background:  darken($icinga-blue, 12%);
$meter-color: rgba(255, 255, 255, 0.95);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: $meter-color;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
