// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0095bf;

$moreinfo-color: #fff;

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 26px;
  }

}
