[Unit]
Description=Dashing-Icinga2 host/service/network monitoring system
After=syslog.target network.target postgresql.service mariadb.service carbon-cache.service icinga2.service

[Service]
Type=notify
WatchdogSec=10
WorkingDirectory=/usr/share/dashing-icinga2
ExecStart=/usr/local/bin/puma -p 8005 --pid /var/run/puma.pid

[Install]
WantedBy=multi-user.target
