// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$value-color:       #fff;

$label-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  ol, ul {
    text-align: left;
    color: $label-color;
  }

  ul {
    color: #ffffff;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
    font-size: 15px;
  }

  .value {
    float: right;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    color: $value-color;
  }

  .green {
    background-color: #44bb77;
    font-size: 15px;
  }
  .yellow {
    background-color: #ffaa44;
    font-size: 15px;
  }
  .red {
    background-color: #ff5566;
    font-size: 15px;
  }
  .purple {
    background-color: #aa44ff;
    font-size: 15px;
  }
}
