// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$title-color: #fff;
$value-color: #fff;
$moreinfo-color: #fff;

$label-color:       rgba(255, 255, 255, 0.7);

$background-color: transparent;
$background-color-green:  rgba(68, 187, 119, 0.5);
$background-color-red:  rgba(255, 85, 102, 0.5);
$background-color-yellow:  rgba(255, 170, 68, 0.5);
$background-color-purple:  rgba(170, 68, 255, 0.5);
$background-color-grey:  rgba(153, 153, 153, 0.5);
// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  background-color: $background-color;
  font-size: 15px;

  ol, ul {
    text-align: left;
    color: $label-color;
  }

  ul {
    color: #ffffff;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 10px;
    font-weight: 500;
    color: $value-color;
  }

  .green {
    background-color: $background-color-green;
  }
  .yellow {
    background-color: $background-color-yellow;
  }
  .red {
    background-color: $background-color-red;
  }
  .purple {
    background-color: $background-color-purple;
  }
}
