<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  ICINGA 2
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-overview" data-view="Simplemon" data-title="Icinga 2 Overview"></div>
    </li>

  </ul>

</div>
